.navbar {
    /* background-color: green; */
    /* color: white; */
    border-bottom-color: lightgray;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding: 20px;
}

.image {
    height: 100px;
    width: 100px;
}